.site-header{
    display: flex;
    height: 15vh;
    justify-content: flex-start;
    align-content: center;
    background: rgb(10, 10, 83);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo{
    cursor: pointer;
    width: auto;
    height: auto;
    margin: 2vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.site-main{
    display: flex;
    height: 75vh;
    align-items: center;
    justify-content: center;
    background: rgb(69, 69, 177);
}

.center-container{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    
}

.button-base-center{
    margin: 1%;
    border: 2px solid #d5d5d5;
    padding: 2vh 1vw;
    text-align: center;
    display: flex;
    font-size: x-large;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    width: auto;
    height: auto;
    transition-duration: 0.4s;
    cursor: pointer;
    color: rgb(213, 213, 213);
    background-color: rgba(255, 255, 255, 0);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media only screen and (max-width: 540px) {
    .button-base-center{
        font-size: small;
        padding: 5px 2px 5px 2px;
    }
}


.button-base-center:hover{
    background: #d53b3b;
    color: white;
}


.site-footer{
    display: flex;
    height: 10vh;
    justify-content: flex-start;
    align-content: center;
    background: rgb(10, 10, 83);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-container-footer{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1vh;
}

.button-base-footer{
    border-radius: 100%;
    margin: 1%;
    border: 2px solid #dddddd;
    padding: 2vh 3vh;
    text-align: center;
    display: flex;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    width: auto;
    height: auto;
    transition-duration: 0.4s;
    cursor: pointer;
    color: rgb(230, 230, 230); 
    background-color: rgba(255, 255, 255, 0);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.button-base-footer:hover{
    background: #d53b3b;
    color: white;
}
