.container-title{
    
    position:flex;
    padding-top: 1px;
}

.container{
   align-self: center;
   align-items: center;
   padding-top: 150px;
}

.pets-table{
    align-self: center;
    align-items: center;
}