
/*CSS DE FORMULÁRIO*/
form {
    text-align: center;
    background-color: #6b72d4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 0 auto; 
}
input[type=text], input[type=email], input[type=tel] {
    border: 1px solid #ccc; /* define a borda da caixa de digitação */
    border-radius: 5px; /* define o raio de borda da caixa de digitação */
    padding: 10px; /* define o preenchimento interno da caixa de digitação */
    font-size: 16px; /* define o tamanho da fonte da caixa de digitação */
    margin-bottom: 10px; /* define a margem inferior da caixa de digitação */
    align-items: center;
}
label {
    display: block; /* define o display para block para que a label fique em uma linha separada */
    margin-bottom: 5px; /* define a margem inferior da label */
    font-size: 16px; /* define o tamanho da fonte da label */
    color: #ffffff; /* define a cor do texto da label */
    
}
button {
    background-color: #4CAF50; /* define a cor de fundo do botão */
    border: none; /* remove a borda do botão */
    color: white; /* define a cor do texto do botão */
    padding: 12px 24px; /* define o preenchimento interno do botão */
    text-align: center; /* centraliza o texto dentro do botão */
    text-decoration: none; /* remove a decoração de texto padrão do botão */
    display: inline-block; /* define o display do botão para inline-block */
    font-size: 16px; /* define o tamanho da fonte do botão */
    margin: 10px 0; /* define a margem superior e inferior do botão */
    cursor: pointer; /* define o cursor do mouse para o botão */
    border-radius: 5px; /* define o raio de borda do botão */
}
button:hover {
    background-color: #3e8e41; /* muda a cor de fundo do botão quando o mouse passa sobre ele */
}
button:active {
    background-color: #2e6b36; /* muda a cor de fundo do botão quando o botão é clicado */
}

/*CSS HOME PAGE*/
.site-header{
    display: flex;
    height: 15vh;
    justify-content: flex-start;
    align-content: center;
    background: rgb(10, 10, 83);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo{
    width: auto;
    height: auto;
    margin: 2vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-container-header{
    flex-wrap: wrap;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1vh;
}

.button-base-header{
    margin: 1%;
    border: 2px solid #d5d5d5;
    padding: 2vh 1vw;
    text-align: center;
    display: flex;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    width: auto;
    height: auto;
    transition-duration: 0.4s;
    cursor: pointer;
    color: rgb(213, 213, 213);
    background-color: rgba(255, 255, 255, 0);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-base-header:hover{
    background: #d53b3b;
    color: white;
}

.site-main{
    display: flex;
    height: 75vh;
    align-items: center;
    justify-content: center;
    background: rgb(69, 69, 177);
}

.center-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
  
.center-img {
    width: 40vh;
    height: 40vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
  
.text {
    color: aliceblue;
    font-size: 20px;
    padding-left: 20px;
}

.site-footer{
    display: flex;
    height: 10vh;
    justify-content: flex-start;
    align-content: center;
    background: rgb(10, 10, 83);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-container-footer{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1vh;
}

.button-base-footer{
    border-radius: 100%;
    margin: 1%;
    border: 2px solid #dddddd;
    padding: 2vh 3vh;
    text-align: center;
    display: flex;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    width: auto;
    height: auto;
    transition-duration: 0.4s;
    cursor: pointer;
    color: rgb(230, 230, 230); 
    background-color: rgba(255, 255, 255, 0);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.button-base-footer:hover{
    background: #d53b3b;
    color: white;
}

