<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_puppy_core/forms_tables.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/template.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/images.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/sections.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/texts.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/reset.css' %}">
    <title>Alterar Dados do Tutor</title>
</head>

<body class="site_body">
    <header class="site-header">
        <img class="logo" alt="Woof" onclick="window.location.replace('/homeAdm/')"
            src="{% static 'app_puppy_core/images/logomaisnome.png' %}">
    </header>
    <div class="forms_title">
        <h1 align="center">Alteração de Dados do Tutor</h1>
    </div>
    <div class="forms_container">
        <form class="cadastro_forms" method="POST">
            {% csrf_token %}
            <label for="nome">Nome: </label>
            <input value="{{ form.nome.value }}" id="nome" type="text" name="nome" maxlength="100" required>
            <label for="CPF">CPF: </label>
            <input value="{{ form.cpf.value }}" id="cpf" type="text" name="cpf" maxlength="14" required>
            <label for="dataNascimento">Data de Nascimento: </label>
            <input value="{{ form.dataNascimento.value|date:'Y-m-d' }}" id="dataNascimento" type="date" name="dataNascimento">
            <label for="celular">Celular: </label>
            <input value="{{ form.celular.value }}" id="celular" type="text" name="celular" maxlength="13" required>
            <label for="Email">E-mail: </label>
            <input value="{{ form.email.value }}"id="email" type="email" name="email" maxlength="254" required>
            <br>
            <button type="button" onclick="window.location.replace('/homeAdm/')">Cancelar</button>
            <button id="enviar" type="submit">Salvar Alterações</button>
        </form>
    </div>
</body>

</html>