<!DOCTYPE html>
{% load static %}
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_puppy_core/forms_tables.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/template.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/images.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/sections.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/texts.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/reset.css' %}">
    <title>Cadastro de Exames</title>
</head>

<body class="site_body">
    <div class="forms_title"><h1 align="center">Cadastrar Novo Exame</h1></div>
    <div class="forms_container">
    <form class="cadastro_forms" method="POST">
        {% csrf_token %}
        <label for="nomeVeterinario"> Médico(a) veterinário(a): </label>
        <input id="nomeVeterinario" type="text" name="nomeVeterinario" maxlength="100" required>
        <label for="exame">Nome do exame: </label>
        <input id="exame" type="text" name="exame" maxlength="30" required>
        <label for="dataSolicitacao"> Dia da Solicitação: </label>
        <input id="dataSolicitacao" type="date" name="dataSolicitacao" required>
        <label for="dataResultado"> Data do resultado: </label>
        <input id="dataResultado" type="date" name="dataResultado" required>
        <label for="resultado">Resultado: </label>
        <textarea id="resultado" type="text" rows="10" cols="40" name="resultado" maxlength="500" required></textarea>
        <br>
        <button type="button"  onclick="window.location.replace('/homeAdm/')">Cancelar</button>
        <button id = "enviar" type="submit">Cadastrar</button>
    </form>
    </div>
</body>

</html>