<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Pet</title>
</head>
<body>
    <h1>Cadastro Pet</h1>
    <form method="post">
        {% csrf_token %}
        <label for="nomePet">Nome do Pet: </label>
        <input id="nomePet" type="text" name="nomePet" maxlength="100" required><br>
        <label for="especie">Especie: </label>
        <input id="especie" type="text" name="especie" maxlength="100" required><br>
        <label for="raca">Raça: </label>
        <input id="raca" type="text" name="raca" maxlength="100" required><br>
        <label for="dtNasc">Data Nascimento: </label>
        <input id="dtNasc" type="date" name="dtNasc" maxlength="100"><br>
        <label for="sexo">Sexo: </label>
        <input id="sexo" type="text" name="sexo" maxlength="1" required><br>
        <label for="peso">Peso: </label>
        <input id="peso" type="number" step="any" name="peso" maxlength="100"><br>
        <label for="porte">Porte: </label>
        <input id="porte" type="text" name="porte" maxlength="100" required><br>
        <label for="cadAtivo">Ativo: </label>
        <input id="cadAtivo" type="checkbox" name="cadAtivo" maxlength="100"><br>
        <button type="submit">Enviar</button>
    </form>
        
</body>
</html>