<!DOCTYPE html>
{% load static %}
<html lang = "pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro de Vacina</title>
</head>

<body>
    <h1 align="center">Cadastrar Nova Vacina</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="nomeVeterinario"> Médico(a) veterinário(a): </label>
        <input id="nomeVeterinario" type="text" name="nomeVeterinario" maxlength="100" required>
        <label for="dataVacina"> Dia da aplicação: </label>
        <input id="dataVacina" type="date" name="dataVacina" required>
        <label id="tipoVacina">Vacina aplicada: </label>
        <input id="tipoVacina" type="text" name="tipoVacina" maxlength="30" required>
        <br>
        <button type="button"  onclick="window.location.replace('http://127.0.0.1:8000/homeAdm/')">Cancelar</button>
        <button type="submit">Cadastrar</button>
    </form>

</body>
</html>