<!DOCTYPE html>
{%load static%}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'app_puppy_core/template.css' %}" rel="stylesheet">
    <link href="{% static 'app_puppy_core/forms_tables.css' %}" rel="stylesheet">
    <link href="{% static 'app_puppy_core/reset.css' %}" rel="stylesheet">
    <title>Home Adm</title>
</head>

<body>

    <header class="site-header">
        <img class="logo" alt="Woof" onclick="window.location.replace('/')"
            src="{% static 'app_puppy_core/images/logomaisnome.png' %}">
    </header>

    <main class="site-main">
        <div>
            <h1 class="text">Clientes</h1>
        </div>
        <button type="button" class="button-base-center" onclick="window.location.replace('cadastroTutor/')">
            <h1>Cadastro do Tutor</h1>
        </button>
        <div class="table-container">
            <table>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                </tr>
                {% for item in tutor %}
                <tr>
                    <td><a href="infoTutor/{{ item.id }}">{{ item.nome }}</a></td>
                    <td>{{ item.celular }}</td>
                    <td>{{ item.email }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>

    <footer class="site-footer">
        <div class="button-container-footer">
            <button type="button" class="button-base-footer"
                onclick="window.alert('Funcionalidade Indisponível')">?</button>
        </div>
    </footer>


</body>

</html>