<!doctype html>
{%load static%}

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'app_puppy_core/forms_tables.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/template.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/images.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/sections.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/texts.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/reset.css' %}">
    <title>Página Inicial</title>
</head>

<body>

    <header class="site-header">
        <img class="logo" alt="Woof" onclick="window.location.replace('/')"
            src="{% static 'app_puppy_core/images/logomaisnome.png' %}">
        <div class="button-container-header">
            <button type="button" class="button-base-header" onclick="window.location.replace('/login/')"
                id="login">Login Administrador</button>
            <button type="button" class="button-base-header" onclick="window.location.replace('/homeTutor/')" id="tutor">Área do
                Tutor</button>
        </div>
    </header>

    <main class="site-main">
        <div class="center-container">
            <div class="image">
                <img class="center-img" src="{% static 'app_puppy_core/images/wooflogo.png.png' %}">
            </div>
            <div class="text">
                <p>Não é apenas um animal<br>é o amor<br>da vida de algúem!</p>
            </div>
        </div>
    </main>

    <footer class="site-footer">
        <div class="button-container-footer">
            <button type="button" class="button-base-footer"
                onclick="window.alert('Funcionalidade Indisponível')">?</button>
        </div>
    </footer>

</body>

</html>