<!DOCTYPE html>
{%load static%}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'app_puppy_core/homeAdm.css' %}" rel="stylesheet">
    <link href="{% static 'app_puppy_core/reset.css' %}" rel="stylesheet">
    <title>Home Adm</title>

</head>

<body>

    <header class="site-header"> 
        <img alt="Dog image" onclick="window.location.replace('/home/')" class="logo" src="{% static 'app_puppy_core/images/woof2.png' %}" >
    </header>
    
    <main class="site-main">
        <div class="center-container">
            <button type="button" class="button-base-center" onclick="window.location.replace('/cadastroPet/ ')">Cadastro do Pet</button>
            <button type="button" class="button-base-center" onclick="window.location.replace('/cadastroTutor/')">Cadastro do Tutor</button>
            <button type="button" class="button-base-center" onclick="window.location.replace('/cadastroVacinas/')">Cadastro de Vacina</button>
        </div>
    </main>

    <footer class="site-footer">
        <div class="button-container-footer">
            <button type="button" class="button-base-footer" onclick="aviso()">?</button>
        </div>
    </footer>


</body>
</html>