<!doctype html>
{%load static%}

<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="{% static 'app_puppy_core/home.css' %}" rel="stylesheet">
    <link href="{% static 'app_puppy_core/reset.css' %}" rel="stylesheet">

    <style>
    h1{
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        color: #3A2D27;
        font-weight: bold;
        position: absolute; top: 365px; left: 519px;
    }
    h3{
        font-size: 32px;
        font-family: 'Script Regular', script;
        color: #3A2D27;
        font-weight: bold;
        position: absolute; top: 390px; left: 670px;
    }
    h4{
        font-family: 'Poppins', sans-serif;
        color: #EBE2DB;
        font-weight: bold; 
    }
 
</style>
</head>
  <body>
 
    <header class="site-header"> 
        <img alt="Woof" onclick="window.location.replace('/home/')" src="{% static 'app_puppy_core/images/logomaisnome.png' %}" >
        <div class="button-container-header">
            <button type="button" class="button-base-header" onclick="window.location.replace('/homeAdm/')"><h4>Área do Admnistrador</h4></button>
            <button type="button" class="button-base-header" onclick="window.location.replace('/homeTutor/')"><h4>Área do Tutor</h4></button>
        </div>
    </header>

    <main class="site-main">
        <div class="center-container">
            <div class="image">
                <img class="center-img" src="{% static 'app_puppy_core/images/wooflogo.png.png' %}">
            </div>
            <div class="text">
                <p>PORQUE O AMOR PELOS ANIMAIS<br>É A NOSSA ESPECIALIDADE</p>
            </div>
        </div>
    </main>

    <footer class="site-footer">
        <div class="button-container-footer">
            <button type="button" class="button-base-footer" onclick="aviso()">?</button>
        </div>
    </footer>
</body>
</html>