<!DOCTYPE html>
{%load static%}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'app_puppy_core/forms_tables.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/template.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/images.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/sections.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/texts.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/reset.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/infoTutor.css' %}">
    <title>Informações do Tutor</title>
</head>

<body>
    <header class="site-header">
        <img class="logo" alt="Woof" onclick="window.location.replace('/homeAdm/')"
            src="{% static 'app_puppy_core/images/logomaisnome.png' %}">
    </header>

    <main class="site-main">
        <div>
            <button type="button" class="button_color"
            onclick="window.location.replace('alteracaoTutor/')">Alterar Dados</button>
        </div>
        <div>
            <button type="button" class="button_color" 
            onclick="window.location.replace('cadastroPet/')">Cadastro do Pet</button>
        </div>
        <div class="forms_title, table, table th, table td">
            <div class="container-title">
                <h1>Informações do Tutor:</h1>
            </div>
            <div class="container">
                <div>
                    <table>
                        <td>
                            <th>Nome: {{ tutor.nome }}</th>
                            <th>CPF: {{ tutor.cpf }}</th>
                            <th>Data de nascimento: {{ tutor.dataNascimento }}</th>
                            <th>Celular: {{ tutor.celular }}</th>
                            <th>Email: {{ tutor.email }}</th>
                        </td>
                    </table>
                    <table class="pets-table">
                        <td>Pets:
                            <th>
                                {% for pet in pets %}
                                <ul><a href="infoPet/{{ pet.id }}">{{ pet.nomePet }}</a></ul>
                                {% empty %}
                                <ul>Nenhum pet encontrado.</ul>
                                {% endfor %}
                                <!-- <td><a href="infoTutor/{{ item.id }}">{{ item.nome }}</a></td>  -->
                            </th>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <footer class="site-footer">
        <div class="button-container-footer">
            <button type="button" class="button-base-footer"
                onclick="window.alert('Funcionalidade Indisponível')">?</button>
        </div>
    </footer>
</body>
</html>

<!-- 
    especificaçoes do tutor
        nome -> ficar no centro da pagina
            email
            cpf
            dados...
    botao
        adicionar pet
    listagem de pet
        nao agora (:
 -->