<!DOCTYPE html>
{%load static%}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'app_puppy_core/homeTutor.css' %}" rel="stylesheet">
    <link href="{% static 'app_puppy_core/reset.css' %}" rel="stylesheet">
    <title>Informações do Tutor</title>

</head>

<body>
    <header class="site-header"> 
        <img class="logo" alt="Woof" onclick="window.location.replace('/homeAdm/')" src="{% static 'app_puppy_core/images/logomaisnome.png' %}" >
    </header>

    <main class="site-main">
        <div>
            <h1>Detalhe do Tutor</h1>
        </div>
        <div>
            <button type="button" class="button-base-center" onclick="window.location.replace('/cadastroPet/{{ tutor.id }} ')">Cadastro do Pet</button>
        </div>
        <div>
            <ul>
                <li>Nome: {{ tutor.nome }}</li>
                <li>CPF: {{ tutor.cpf }}</li>
                <li>Data de nascimento: {{ tutor.dataNascimento }}</li>
                <li>Celular: {{ tutor.celular }}</li>
                <li>Email: {{ tutor.email }}</li>
            </ul>
        </div>
    </main>

    <footer class="site-footer">
        <div class="button-container-footer">
            <button type="button" class="button-base-footer" onclick="window.alert('Funcionalidade Indisponível')">?</button>
        </div>
    </footer>


</body>
</html>

<!-- 
    especificaçoes do tutor
        nome -> ficar no centro da pagina
            email
            cpf
            dados...
    botao
        adicionar pet
    listagem de pet
        nao agora (:
 -->