<!DOCTYPE html>
{%load static%}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'app_puppy_core/forms_tables.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/template.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/images.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/sections.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/texts.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/reset.css' %}">
    
    <title>Informações do Pet</title>
</head>

<body>
    <header class="site-header">
        <img class="logo" alt="Woof" onclick="history.back()"
            src="{% static 'app_puppy_core/images/logomaisnome.png' %}">
    </header>

    <main class="site-main">
        <div class="forms_title, table, table th, table td">
            <div class="title-infoPet">
                <h1>Informações de {{ pet.nomePet }}</h1>
            </div>
            
            <div>
                <table class="lista">
                        <th>Nome: {{ pet.nomePet }}</th>
                        <th>Espécie: {{ pet.especie }}</th>
                        <th>Raça: {{ pet.raca }}</th>
                        <th>Data de Nascimento: {{ pet.dtNasc }}</th>
                        <th>Sexo: {{ pet.sexo }}</th>
                        <th>Peso: {{ pet.peso }}</th>
                        <th>Porte: {{ pet.porte }}</th>
                </table>
            </div>


        </div>
        <div>
            
            <button type="button" class="button_color"
            onclick="window.alert('Funcionalidade Indisponível')">Editar informações</button>
        </div>
        <div>
            <button id='cadastra_vacina' type="button" class="button_color"
            onclick="window.location.replace('cadastroVacinas/')">Cadastrar Vacina</button>
        </div>
    </main>

    <footer class="site-footer">
        <div class="button-container-footer">
            <button type="button" class="button-base-footer"
                onclick="window.alert('Funcionalidade Indisponível')">?</button>
        </div>
    </footer>


</body>

</html>