<!DOCTYPE html>
{%load static%}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'app_puppy_core/forms_tables.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/template.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/images.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/sections.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/texts.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/reset.css' %}">
    
    <title>Informações do Pet</title>
</head>

<body>
    <header class="site-header">
        <img class="logo" alt="Woof" onclick="history.back()"
            src="{% static 'app_puppy_core/images/logomaisnome.png' %}">
    </header>

    <main class="site-main">
        <div class="forms_title, table, table th, table td">
            <div class="title-infoPet">
                <h1>Informações de {{ pet.nomePet }}</h1>
            </div>
            
            <div>
                <table class="lista">
                        <th id="nome_pet" >Nome: {{ pet.nomePet }}</th>
                        <th id="especie_pet" >Espécie: {{ pet.especie }}</th>
                        <th id="raca_pet" >Raça: {{ pet.raca }}</th>
                        <th id="data_pet" >Data de Nascimento: {{ pet.dtNasc }}</th>
                        <th id="sexo_pet" >Sexo: {{ pet.sexo }}</th>
                        <th id="peso_pet" >Peso: {{ pet.peso }}</th>
                        <th id="porte_pet" >Porte: {{ pet.porte }}</th>
                </table>
            </div>


        </div>
        <div> 
            <button type="button" id='alteracaoPet' class="button_color"
                onclick="window.location.replace('alteracaoPet/')">Alterar Dados Pet</button>
        </div>
        <div>
            <button id='cadastra_exame' type="button" class="button_color"
                onclick="window.location.replace('cadastroexames/')">Cadastrar Exames</button>
        </div>
        <div>
            <button id='cartaoExames' type="button" class="button_color"
                onclick="window.location.replace('cartaoExames/ ')">Cartão de Exames</button>
        </div>
        <div>
            <button id='cadastra_vacina' type="button" class="button_color"
                onclick="window.location.replace('cadastroVacinas/')">Cadastrar Vacina</button>
        </div>
        <div>
            <button id='cartao' type="button" class="button_color"
                onclick="window.location.replace('cartaoVacinas/')">Cartão de Vacinas</button>
        </div>
    </main>

    <footer class="site-footer">
        <div class="button-container-footer">
            <button type="button" class="button-base-footer"
                onclick="window.alert('Funcionalidade Indisponível')">?</button>
        </div>
    </footer>


</body>

</html>