<!doctype html>
{%load static%}

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'app_puppy_core/forms_tables.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/template.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/images.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/sections.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/texts.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/reset.css' %}">
    <title>Cartão de Vacinas</title>
</head>

<body>
    <header class="site-header">
        <img class="logo" alt="Woof" onclick="window.location.replace('/homeAdm/infoTutor/{{ pk }}/infoPet/{{ id_pet }}/')"
            src="{% static 'app_puppy_core/images/logomaisnome.png' %}">
    </header>
    <main class="site-main">
        <div class="table, table th, table td">
            <table>
                <tr>
                    <th>Médico Veterinário</th>
                    <th>Tipo de Vacina</th>
                    <th>Data da Aplicação</th>
                </tr>
                {% for item in dados %}
                <tr>
                    <td>{{ item.nomeVeterinario }}</td>
                    <td>{{ item.tipoVacina }}</td>
                    <td>{{item.dataVacina}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
    <footer class="site-footer">
        <div class="button-container-footer">
            <button type="button" class="button-base-footer"
                onclick="window.alert('Funcionalidade Indisponível')">?</button>
        </div>
    </footer>
</body>

</html>