<!DOCTYPE html>
{%load static%}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'app_puppy_core/forms_tables.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/template.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/images.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/sections.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/texts.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/reset.css' %}">
    <title>Área do Tutor</title>
</head>

<body>
    <header class="site-header">
        <img class="logo" alt="Woof" onclick="window.location.replace('/')"
            src="{% static 'app_puppy_core/images/logomaisnome.png' %}">
    </header>

    <main class="site-main">
        <div>
            <button type="button" class="button_color"
                onclick="window.location.replace('cartaoVacinas/ ')">Cartão de Vacinas</button>
            <button id="marcar_vacina" class="button_color" type="button" onclick="window.location.replace('/marcarVacina/')"> Marcar Vacina </button>
        </div>
    </main>

    <footer class="site-footer">
        <div class="button-container-footer">
            <button type="button" class="button-base-footer"
                onclick="window.alert('Funcionalidade Indisponível')">?</button>
        </div>
    </footer>
</body>

</html>