<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_puppy_core/forms_tables.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/template.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/images.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/sections.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/texts.css' %}">
    <link rel="stylesheet" href="{% static 'app_puppy_core/reset.css' %}">
    <title>Marcar Vacina</title>
</head>

<body class="site_body">
    <div class="forms_title">
        <h1 align="center">Marcar Vacina</h1>
    </div>
    <div class="forms_container">
        <form class="cadastro_forms" method="POST">
            {% csrf_token %}
            <label for="nomeVacina"> Nome da Vacina: </label>
            <input id="nomeVacina" type="text" name="nomeVacina" maxlength="100" required>
            <label for="dataVacina"> Data da Vacina: </label>
            <input id="dataVacina" type="date" name="dataVacina" required>
            <label id="vetResponsavel">Veterinario Responsavel: </label>
            <input id="vetResponsavel" type="text" name="vetResponsavel" maxlength="100" required>
            <br>
            <button type="button" onclick="window.location.replace('/homeTutor/')">Voltar</button>
            <button type="submit">Confirmar</button>
        </form>
    </div>
</body>

</html>