<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>Cartão de Vacinas</title>

      <style>
        h1 {
          font-family: Arial,sans-serif;
          font-size: 30pt;
          color: #000000;
          text-shadow: 1px 1px 1px rgb(63, 60, 57);
          position: absolute; top: 10px; left: 250px;
        }
        h2 {
          font-family: Arial,Serif,serif;
          color: rgb(0, 0, 0);
          position: absolute; top: 5px; right: 150px;
        }
        </style>

</head>

<body>

    <button onclick="history.back()">Voltar</button>   
    <h1>Cartão de Vacinas</h1>
    <h2>Nome: Tinker Bell</h2>
    <hr style="color: #000000; border: 1px solid #000000; margin: 95px 0;">

</body>

</html>