<!doctype html>
{%load static%}

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ver Vacinas</title>
    <link href="{% static 'app_puppy_core/verVacina.css' %}" rel="stylesheet">
    <link href="{% static 'app_puppy_core/reset.css' %}" rel="stylesheet">
  
<style>
  table {
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 100%;
  }
  th, td {
    border: 1px solid #B48565;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #EBE2DB;
    color: #B48565;
  }
  h4{
        font-family: 'Poppins', sans-serif;
        color: #B48565;
        font-weight: bold; 
        left: 100px;
    }
</style>
</head>

<body>
    <header class="site-header"> 
        <img class="logo" alt="Woof" onclick="window.location.replace('/homeTutor/')" src="{% static 'app_puppy_core/images/logomaisnome.png' %}" >
    </header>
    <main class="site-main">
        <div class="center-container">
            <div class="text">
                <div class="table-container">
                    <div class="table1">
                        <table>
                            <tr>
                                <th>Médico Veterinário</th>
                                <th>Tipo de Vacina</th>
                                <th>Data da Aplicação</th>
                            </tr>
                            {% for item in dados %}
                            <tr>
                                <td>{{ item.nomeVeterinario }}</td>
                                <td>{{ item.tipoVacina }}</td>
                                <td>{{item.dataVacina}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="site-footer">
        <div class="button-container-footer">
            <button type="button" class="button-base-footer" onclick="window.alert('Funcionalidade Indisponível')">?</button>
        </div>
    </footer>
    
</body>

</html>